In [1]:
import pandas

data1 =  pandas.read_csv('1-4mes/cantidad de noticias por comunas en el año1-4mes.csv')
data1.drop('Unnamed: 0', axis=1, inplace=True)


data2 = pandas.read_csv('5-8mes/cantidad de noticias por comunas en el año5-8mes.csv')
data2.drop('Unnamed: 0', axis=1, inplace=True)


data3 = pandas.read_csv('9-12mes/cantidad de noticias por comunas en el año9-12mes.csv')
data3.drop('Unnamed: 0', axis=1, inplace=True)

In [2]:
cantidadNoticiasComunasEnElAño= pandas.concat([data1, data2, data3], axis=0)

In [3]:
ciudades = ["Ancud","Castro","Chonchi",
           "Curaco_de_Vélez", "Dalcahue","Puqueldón",
          "Queilén","Quemchi","Quellón",
           "Quinchao","Calbuco","Cochamó",
          "Fresia","Frutillar","Llanquihue",
           "Los_Muermos","Maullín","Puerto_Montt",
          "Puerto_Varas","Osorno","Puerto_Octay",
          "Purranque","Puyehue","Río_Negro",
           "San_Juan_de_la_Costa","San_Pablo","Chaitén",
          "Futaleufú","Hualaihué","Palena"]

In [4]:
from pandasql import sqldf

In [5]:
cantidadNoticiasComunasAno = pandas.DataFrame({})
for i in ciudades:
    #print(i)
    result = sqldf(" SELECT SUM("+i+") FROM cantidadNoticiasComunasEnElAño")
    cantidadNoticiasComunasAno[i]=result
cantidadNoticiasComunasAno

,Ancud,Castro,Chonchi,Curaco_de_Vélez,Dalcahue,Puqueldón,Queilén,Quemchi,Quellón,Quinchao,...,Puerto_Octay,Purranque,Puyehue,Río_Negro,San_Juan_de_la_Costa,San_Pablo,Chaitén,Futaleufú,Hualaihué,Palena
0,2101,2817,987,610,949,572,23,677,1397,820,...,663,685,739,638,433,542,550,407,457,1031

In [6]:
cantidadNoticiasComunasAno.to_csv('cantidad de noticias por comunas en el año.csv')